<div class="row">
  <div *ngIf="selectedMetadata" class="col-md-12 jumbotron jumbotron-fluid">
    <div style="float: right; padding-right:10px;">
      <a href="#" class=" btn btn-info btn-sm" (click)="deselectDataDescriptor()">X</a>
    </div>

    <div class="container">
      <div class="pull-right">
      <h4>{{selectedMetadata.value.title}}</h4>
      <i style="font-size:10pt;">Unique 'Ike Wai URL: <a href='http://ikewai.org/ike-wai/research-workbench/browse-data?dd={{selectedMetadata.uuid}}'>http://ikewai.org/ike-wai/research-workbench/browse-data?dd={{selectedMetadata.uuid}}</a></i>
      <div class="table-responsive">
      <table class="table">
        <tr>
          <td style='width:50%;'> <b>DOI: </b>&nbsp;<a href='http://doi.org/{{selectedMetadata.value.doi}}'target='_blank'>{{selectedMetadata.value.doi}}</a><br/></td>
          <td><b>Data Published:</b>&nbsp;{{selectedMetadata.value.gotDOIDate}}<br/></td>
        </tr>
        <tr>
          <td><b>Start Date</b>&nbsp;{{selectedMetadata.value.start_datetime}} &nbsp; &nbsp;</td>
          <td><b>End Date</b>&nbsp;{{selectedMetadata.value.end_datetime}}<br/><td>
        </tr>
        <tr>
          <td>  <b>Authors:</b>
            <span *ngFor="let author of selectedMetadata.value.creators ">
              {{author.first_name}} {{author.last_name}},
            </span><br/>
          </td>
          <td><b>Subjects:</b>&nbsp;{{selectedMetadata.value.subjects}}<br/></td>
        </tr>
        <tr>
          <td><b>License:</b>&nbsp;{{selectedMetadata.value.license_rights}}<br/></td>
          <td><b>Data Type:</b>&nbsp;{{selectedMetadata.value.data_types}}<br/></td>
        <tr>
          <td><b>Format:</b>&nbsp;{{selectedMetadata.value.formats}}<br/></td>
          <td></td>
        </tr>
        <tr>
          <td>
      <span><b>Location(s):</b>&nbsp;
        <div leaflet class="map pull-left"
          leafletDraw
          [leafletOptions]="options"
          [leafletDrawOptions]="drawOptions"
          (leafletMapReady)="onMapReady($event)" >
        </div>
      <ul *ngFor="let assoc of assoc_locations">

          <li *ngIf ="assoc.name == 'Site'">{{assoc.value.name.replace("?","’").replace("?","’").replace("?","’").replace("?","’")}}({{assoc.value.latitude}},{{assoc.value.longitude}})</li>
          <li *ngIf ="assoc.name == 'Well'">{{assoc.value.well_name}}({{assoc.value.wid}})({{assoc.value.latitude}},{{assoc.value.longitude}})</li>
          <li *ngIf ="assoc.name == 'Water_Quality_Site'">{{assoc.value.name}}({{assoc.value.latitude}},{{assoc.value.longitude}})</li>
      </ul></span>
          </td>
          <td>
          <span><b>Variables:</b>&nbsp;
          <ul *ngFor="let assoc of assoc_variables">
              <li>{{assoc.value.variable_name}}{{assoc.value.units}}</li>
          </ul></span></td>
          </tr>
      </table>
      </div>
      <b>Description</b>&nbsp;{{selectedMetadata.value.description}}<br/>
      <b>Data: </b><span *ngFor="let link of selectedMetadata._links.associationIds ">
        &nbsp;<a href="#" *ngIf="link.href.indexOf('ikewai-annotated') !== -1" class="btn btn-success btn-sm" (click)="downloadClick(link.href)">Download {{link.href.split('/').slice(-1)[0]}}</a>
      </span>
      <div style="float: right; padding-right:10px;">
        <a href="#" class="btn btn-info btn-sm" (click)="deselectDataDescriptor()">Close</a>
      </div>
      <br/><br/>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!--- <div class="col-md-7">
      <div leaflet class="map pull-left"
        leafletDraw
        [leafletOptions]="options"
        [leafletDrawOptions]="drawOptions"
        (leafletDrawCreated)="onDrawCreated($event)"
        (leafletMapReady)="onMapReady($event)" >
      </div>
    </div>-->
    <div class="col-md-12">
    <!-- <div class="grid">
      <div class="bl">Color Legend</div>
      <div class="ht">Cluster Size</div>
      <div class="hl">Site Type</div>
      <div class="s1">1-9</div>
      <div class="s2">10-100</div>
      <div class="s3">100+</div>
      <div class="t1">Well</div>
      <div class="t2">Site</div>
      <div class="t3">Water Quality Site</div>

      <div class="c1"><div class="color-circle color-1"></div></div>
      <div class="c2"><div class="color-circle color-2"></div></div>
      <div class="c3"><div class="color-circle color-3"></div></div>
      <div class="c4"><div class="color-circle color-4"></div></div>
      <div class="c5"><div class="color-circle color-5"></div></div>
      <div class="c6"><div class="color-circle color-6"></div></div>
      <div class="c7"><div class="color-circle color-7"></div></div>
      <div class="c8"><div class="color-circle color-8"></div></div>
      <div class="c9"><div class="color-circle color-9"></div></div>
    </div> -->

    <div *ngIf="metadata.length > 0">
    <h5>Results {{filterData.length}}</h5>
    <input class="form" type="text" (keyup)='tableSearch($event.target.value)' placeholder="Filter Results">
    <div style="overflow: auto; height:500px;" class="table-responsive">
    <table class="table">
      <tr>
          <th>Title</th>
          <th>DOI</th>
          <th>Files</th>
      </tr>
      <tr *ngFor="let metadatum of filterData">

          <td width="40%">
            <a href="#" class="btn btn-info btn-sm" (click)="selectDataDescriptor(metadatum)">View</a>
            <span #entries>&nbsp;&nbsp;{{metadatum.value.title}}</span>
          </td>
          <td>
            <span #entries><a href='http://doi.org/{{metadatum.value.doi}}'target='_blank'>{{metadatum.value.doi}}</a></span>
          </td>
          <td width="20%">
            <div >
                <span *ngFor="let link of metadatum._links.associationIds ">
                  <a href="#" *ngIf="link.href.indexOf('ikewai-annotated') !== -1" class="btn btn-success btn-sm" (click)="downloadClick(link.href)">Download {{link.href.split('/').slice(-1)[0]}}</a>
                </span>
            </div>
          </td>
        </tr>
      </table>
      </div>
      </div>
    </div>
